@model IEnumerable<AppSK.Models.Projects.ProjectViewModel>
@{
    ViewBag.Title = "Управление проектами";
}

<h2>Управление проектами</h2>
<p>@Html.ActionLink("Добавить проект", "Create", "Projects")</p>
