
@{
    ViewBag.Title = "Оценка проекта";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="ms ms-form-area col-md-12">
        @using (Html.BeginForm("Create", "Projects", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.Partial("_Form", new ProjectModel())
        }
    </div>
</div>
